.chart{
    padding: 1vh;
    margin-top: 2vh;
    width: 92%;
    height: 55%;
    border-radius: 5px;
    margin-left: 4%;
    background-color: #FFF;
}

@media (min-width: 1890px) {
    .chart{
        height: 50%;
    }
}

@media (min-width: 800px) and (max-width: 1400px) {
    .chart{
        display: none;
    }
}

@media (max-width: 420px) {
    .chart{
        display: none;
    }
}