.location-current{
    background-color: #ffffff83;
    border-radius: 7px;
    height: 40%;
    width: 100%;
    border: 1px solid #19191920;
  }
  
  .location-current > div{
    width: 100%;
  }
  
  