.forecast-content{
    width: 50%;
  }
  
  .bi-sunrise-fill,
  .bi-sunset-fill{
    font-size: 30pt;
    text-shadow: 
    -1px -1px 0px #19191940, 
    -1px 1px 0px #19191940,                    
     1px -1px 0px #19191940,                  
     1px 0px 0px #19191940;
  }

  @media (max-width: 1400px) {
    img{
      margin: 15px 0;
    }
  }