.current {
  width: 50%;
  height: 85%;
  padding: 2% 4%;
}

.current .informative-text {
  white-space: nowrap;
}

.current-temp {
  font-size: 60pt;
  display: flex;
}

.current-temp span {
  font-size: 24pt;
  margin-top: 1.5vh;
}

@media (max-width: 600px) {
  .current .informative-text {
    font-size: 10pt;
  }
}